@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotrons">
    <h1>Учет оплаты за детсады</h1>
</div>

<div class="col-md-12">
    <div class="panels col-md-4">
        <h2>Список детей</h2>
        <p>Отобразить список детей по детсадам.</p>
        <a class="moreButton" href="~/Kid_Garden/Index">просмотр</a>
    </div>
    <div class="panels col-md-4">
        <h2>Родители</h2>
        <p>Отобразить список родителей, оплачивающих за детей по подразделению.</p>
        <a class="moreButton" href="~/Podrazdelenies/Index">просмотр</a>
    </div>
    <div class="panels col-md-4">
        <h2>Ведомость</h2>
        <p>Выдать ведомость удержания с родителей оплаты за детсад c подведением итогов.</p>
        <a class="moreButton" href="~/Kid_Garden/Index">просмотр</a>
    </div>
</div>